USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[__SchemaVersion]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__SchemaVersion](
	[Id] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[AppVersion] [nvarchar](20) NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[__SchemaVersion] ADD  DEFAULT ((1)) FOR [Id]
GO
ALTER TABLE [dbo].[__SchemaVersion] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[__SchemaVersion]  WITH CHECK ADD  CONSTRAINT [CK_SchemaVersion_Single] CHECK  (([Id]=(1)))
GO
ALTER TABLE [dbo].[__SchemaVersion] CHECK CONSTRAINT [CK_SchemaVersion_Single]
GO
