USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[SyncOperationLogs]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyncOperationLogs](
	[ClientId] [nvarchar](50) NOT NULL,
	[DeviceId] [nvarchar](50) NOT NULL,
	[OperationType] [nvarchar](50) NOT NULL,
	[ServerEntityId] [int] NULL,
	[HadConflict] [bit] NOT NULL,
	[ConflictMessage] [nvarchar](500) NULL,
	[ProcessedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SyncOperationLogs] ADD  DEFAULT ('') FOR [DeviceId]
GO
ALTER TABLE [dbo].[SyncOperationLogs] ADD  DEFAULT ((0)) FOR [HadConflict]
GO
ALTER TABLE [dbo].[SyncOperationLogs] ADD  DEFAULT (getdate()) FOR [ProcessedAt]
GO
