USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[InvoiceItemAdjustments]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItemAdjustments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[InvoiceItemId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[OldQuantity] [int] NOT NULL,
	[NewQuantity] [int] NOT NULL,
	[ReducedQuantity] [int] NOT NULL,
	[Reason] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[PurchaseInvoiceId] [int] NULL,
	[SupplierId] [int] NULL,
	[AdjustedByUserId] [int] NULL,
	[AdjustedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments] ADD  DEFAULT (getdate()) FOR [AdjustedAt]
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_Adj_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments] CHECK CONSTRAINT [FK_Adj_Invoice]
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_Adj_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments] CHECK CONSTRAINT [FK_Adj_Product]
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_Adj_PurchaseInvoice] FOREIGN KEY([PurchaseInvoiceId])
REFERENCES [dbo].[PurchaseInvoices] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments] CHECK CONSTRAINT [FK_Adj_PurchaseInvoice]
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_Adj_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments] CHECK CONSTRAINT [FK_Adj_Supplier]
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_Adj_User] FOREIGN KEY([AdjustedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItemAdjustments] CHECK CONSTRAINT [FK_Adj_User]
GO
