USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[PurchaseInvoiceItems]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoiceItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseInvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
	[NewSellPrice] [decimal](18, 0) NULL,
	[TotalPrice] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoiceItems_Invoice] FOREIGN KEY([PurchaseInvoiceId])
REFERENCES [dbo].[PurchaseInvoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] CHECK CONSTRAINT [FK_PurchaseInvoiceItems_Invoice]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoiceItems_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] CHECK CONSTRAINT [FK_PurchaseInvoiceItems_Product]
GO
