USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[ProjectRevenues]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectRevenues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[RevenueDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[InvoiceId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProjectRevenues] ADD  DEFAULT (getdate()) FOR [RevenueDate]
GO
ALTER TABLE [dbo].[ProjectRevenues]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRevenues_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProjectRevenues] CHECK CONSTRAINT [FK_ProjectRevenues_Invoice]
GO
ALTER TABLE [dbo].[ProjectRevenues]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRevenues_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectRevenues] CHECK CONSTRAINT [FK_ProjectRevenues_Project]
GO
