USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[ExpenseTemplates]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DefaultCategoryId] [int] NULL,
	[EstimatedAmount] [decimal](18, 0) NULL,
	[DefaultProjectId] [int] NULL,
	[DefaultExpenseType] [int] NOT NULL,
	[DefaultDescription] [nvarchar](500) NULL,
	[DefaultTags] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExpenseTemplates] ADD  DEFAULT ((0)) FOR [DefaultExpenseType]
GO
ALTER TABLE [dbo].[ExpenseTemplates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExpenseTemplates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExpenseTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseTemplates_Category] FOREIGN KEY([DefaultCategoryId])
REFERENCES [dbo].[ExpenseCategories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ExpenseTemplates] CHECK CONSTRAINT [FK_ExpenseTemplates_Category]
GO
ALTER TABLE [dbo].[ExpenseTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseTemplates_Project] FOREIGN KEY([DefaultProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ExpenseTemplates] CHECK CONSTRAINT [FK_ExpenseTemplates_Project]
GO
