USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[ExpenseAllocations]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseAllocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseId] [int] NOT NULL,
	[ProjectId] [int] NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[Notes] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExpenseAllocations]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseAllocations_Expense] FOREIGN KEY([ExpenseId])
REFERENCES [dbo].[Expenses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseAllocations] CHECK CONSTRAINT [FK_ExpenseAllocations_Expense]
GO
ALTER TABLE [dbo].[ExpenseAllocations]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseAllocations_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ExpenseAllocations] CHECK CONSTRAINT [FK_ExpenseAllocations_Project]
GO
