USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[ExpenseDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[Dimensions] [nvarchar](2000) NOT NULL,
	[Tags] [nvarchar](1000) NOT NULL,
	[Metadata] [nvarchar](2000) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedByUserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ExpenseType] [int] NOT NULL,
	[IsBillable] [bit] NOT NULL,
	[IsReimbursable] [bit] NOT NULL,
	[TaxAmount] [decimal](18, 0) NOT NULL,
	[PrimaryProjectId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (getdate()) FOR [ExpenseDate]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((0)) FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (N'{}') FOR [Dimensions]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (N'[]') FOR [Tags]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (N'{}') FOR [Metadata]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((0)) FOR [ExpenseType]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((0)) FOR [IsBillable]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((0)) FOR [IsReimbursable]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ExpenseCategories] ([Id])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Category]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_CreatedBy]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_PrimaryProject] FOREIGN KEY([PrimaryProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_PrimaryProject]
GO
