USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[BusinessSettings]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessSettings](
	[Id] [int] NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[BranchName] [nvarchar](200) NULL,
	[Tagline] [nvarchar](300) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](200) NULL,
	[TaxId] [nvarchar](50) NULL,
	[PrintFooter] [nvarchar](500) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessSettings] ADD  DEFAULT ((1)) FOR [Id]
GO
ALTER TABLE [dbo].[BusinessSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BusinessSettings]  WITH CHECK ADD  CONSTRAINT [CK_BusinessSettings_Single] CHECK  (([Id]=(1)))
GO
ALTER TABLE [dbo].[BusinessSettings] CHECK CONSTRAINT [CK_BusinessSettings_Single]
GO
