USE [RestaurantPOS]
GO
/****** Object:  Table [dbo].[ExpenseAttachments]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseAttachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseId] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[StoredPath] [nvarchar](500) NOT NULL,
	[ContentType] [nvarchar](100) NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExpenseAttachments] ADD  DEFAULT ((0)) FOR [FileSize]
GO
ALTER TABLE [dbo].[ExpenseAttachments] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[ExpenseAttachments]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseAttachments_Expense] FOREIGN KEY([ExpenseId])
REFERENCES [dbo].[Expenses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseAttachments] CHECK CONSTRAINT [FK_ExpenseAttachments_Expense]
GO
