USE [RestaurantPOS]
GO
/****** Object:  StoredProcedure [dbo].[usp_procedure_name]    Script Date: 28/06/2026 11:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_procedure_name]
AS BEGIN

select top 10 al.Id
			, al.EntityName
			, al.EntityId
			, al.Action
			, al.OldValues
			, al.NewValues
			, al.Description
			, al.CreatedAt
			, al.UserId
			, al.UserName
FROM AuditLogs al
WHERE al.Id = 1

-- This is Test from Reza Hakimi in This Time 
-- دارم تست پوش باهاش انجام میدم 
-- test test test

--test 
END
GO
